<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatting_toy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHATTING_TOY">

        <!--Splash Activity-->
        <!-- 스플래쉬 액티비티 때문에 OriginActivity에 있던 intent-filter부분을 옮겨줌 -->
        <!-- android:exported 값중 true는 다른앱과 통신할때, 애뮬레이터 사용시, false는 다른앱과 통신 필요없을때 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyRoomActivity"
            android:exported="true" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="true" />
        <activity
            android:name=".ChatListActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">


        </activity>

    </application>

</manifest>